@tailwind base;
@tailwind components;
@tailwind utilities;

.crx-class {
  color: pink;
}

.kktab-app-content {
  z-index: 999;

  ul {
    margin: 0;
  }
}




/* 隱藏默認滾動條 */
.kktab-app-content::-webkit-scrollbar {
  display: none;
}

/* 設置滾動條寬度和顏色 */
.kktab-app-content {
  scrollbar-width: thin;
  scrollbar-color: #ccc #f1f1f1;
}

/* 設置滾動條滑塊樣式 */
.kktab-app-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

/* 設置滾動條軌道樣式 */
.kktab-app-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* 設置滾動條角落樣式 */
.kktab-app-content::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

/* 隱藏默認滾動條 */
.ios-scroll::-webkit-scrollbar {
  display: none;
}

/* 設置滾動條寬度和顏色 */
.ios-scroll {
  scrollbar-width: thin;
  scrollbar-color: #ccc #f1f1f1;
}

/* 設置滾動條滑塊樣式 */
.ios-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

/* 設置滾動條軌道樣式 */
.ios-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* 設置滾動條角落樣式 */
.ios-scroll::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}